<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xpxp.mapper.ProjectUsersMapper">

    <select id="getMyTeam" resultType="com.xpxp.pojo.VO.TeamDetailVO">
        select pu.assign,u.username as name, u.image,pu.role
        from project_users pu
        left join user u
        on pu.user_id = u.id
        where pu.project_id = #{projectId}
    </select>
</mapper>